canvas#board(width="500px" height="500px")
.hidden
  img(
    id="pawn"
    src="https://external-content.duckduckgo.com/iu/?u=https://thf.bing.com/th/id/OIP.-IX7S6I_OftAhh37paEkKwHaHa?cb%3Dthfc1%26pid%3DApi&f=1&ipt=508973a3d5fc38a84ba9f1c08c2e38e864206156bbdef0cf51f81dfd2838c4e5&ipo=images&kp=1"
    
  )
